@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "calibri";
	src: url("./assets/fonts/Calibri/calibri-regular.ttf");
}
@font-face {
	font-family: "SFMono";
	src: url("./assets/fonts/SFMono/SFMono-Regular.ttf");
}
@font-face {
	font-family: "SFMono-Semibold";
	src: url("./assets/fonts/SFMono/SFMono-Semibold.ttf");
}

:root {
	--grey-dark: rgba(19, 22, 25, 1);
	--grey-light: rgba(43, 57, 62, 1);
	--blue-dark: rgba(45, 56, 138, 1);
	--blue-light: rgba(0, 174, 239, 1);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "calibri", sans-serif;
	scroll-behavior: smooth;
}

.hash-span {
	margin-top: -100px;
	padding-bottom: 100px;
	display: block;
}

.bg-gradient {
	background: var(--grey-dark);
	background: -webkit-linear-gradient(
		90deg,
		var(--grey-dark) 0%,
		var(--grey-light) 50%,
		var(--grey-dark) 100%
	);
	background: linear-gradient(
		90deg,
		var(--grey-dark) 0%,
		var(--grey-light) 50%,
		var(--grey-dark) 100%
	);
}

.blue-gradient-down {
	background: var(--blue-dark);
	background: -webkit-linear-gradient(
		180deg,
		var(--blue-dark) 0%,
		rgba(0, 174, 239, 0) 100%
	);
	background: linear-gradient(
		180deg,
		var(--blue-dark) 0%,
		rgba(0, 174, 239, 0) 100%
	);
}
.blue-gradient-right {
	background: var(--blue-dark);
	background: -webkit-linear-gradient(
		90deg,
		var(--blue-dark) 0%,
		var(--blue-light) 100%
	);
	background: linear-gradient(
		90deg,
		var(--blue-dark) 0%,
		var(--blue-light) 100%
	);
}
